.container-fixed {
  margin: 0 auto;
  max-width: 800px;
  padding-left: 10px;
  padding-right: 10px;
}

body {
  padding-top: 60px;
  background: #ffffff;
}

.navbar {
  background: rgba(30, 30, 30, 0.9);
}

.navbar-toggle {
  margin-top: 13px;
  background: #333;
}

.navbar-brand {
  padding-top: 20px;
  padding-left: 0;
  height: 60px;
  font-family: "Montserrat","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-weight: bold;
  color: #ffffff !important;
  font-size: 30px;
}

.navbar-fixed-top {
  min-height: 60px;
}

.navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 60px;
  font-size: 18px;
  font-family: "Montserrat","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-weight: bold;
  color: #ffffff !important;
}

.pressbanner {
  text-align: right;
  padding-left: 10px;
}


.navbar a:hover {
  color: #FF704D !important;
}

.autocrop img {
  width: 100%;
}

.autocrop {
  max-height: 400px;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-family: "Montserrat","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-style: normal;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin-top: 60px;
  margin-bottom:40px;
  font-size:42px;
  color: #485260;

}

p {
  font-family: "Merriweather", serif;
  color: #191919;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 19px;
  line-height: 1.9em;
}


a:hover {
  color: #FF704D;
  text-decoration: none;
}

.detail {
  margin-bottom: 30px;
}

.unit {
  margin-bottom: 80px;
}

.banner {
  position: relative;
  margin-bottom: 80px;
  height: 250px;
  background: url("/images/mirror.jpg") center center repeat-x;
}

canvas {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  position: absolute;
  top: 0;
  left: 0;
}
